@charset "UTF-8";

html, body {    
}

body
{
	font-family: Cambria, Georgia, Times, Times New Roman, serif;
	color:#f6f6f6;
	margin:0 auto;
	padding:0;
    overflow-y:scroll;
	background:#fafafa;

}

#wrapper 
{
	position: relative;
	overflow:hidden;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

img 
{
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	border:none;
}

h1
{
	margin:0;
	font-size:25px;
	font-weight:normal;
	overflow:hidden;
}

h2
{
	margin:0;
	font-size:16px;
}

form
{
	display:inline;
}

input[type="text"]
{
	width:190px;
	border:1px solid #ddd;
	padding:2px 3px;
	font-size:12px;
	margin:4px 8px 3px 0;
	text-align:center;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#searchbox
{
	width:250px;
}

.center {
	text-align:center;
}

.clearer
{
	clear:both;
}

.clearer_r
{
	clear:right;
}

.clearer_l
{
	clear:left;
}

.fright
{
	float:right !important;
}

.fleft
{
	float:left !important;
}

.dnone {
	display:none !important;
}

.nooverflow {
	overflow:visible !important;
}

.placeholder {
	color:#999;
}


#content
{
	padding: 0 0px 10px;
	margin:25px auto 0px;
	color:#555;
}

#header
{
	background:#f6f6f6;
	color:#E26A51;
	border-top:none;
	border-bottom:6px solid #52A9E3;
	border-left:1px solid #52A9E3;
	border-right:1px solid #52A9E3;
	margin:0 8px;

	border-bottom-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-left-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	box-shadow:0px 0px 4px #000;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
}

#header a
{
	color:#52A9E3;
}

#header #title
{	
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	float:left;
	padding:6px 0 0 10px;
}

#header #title:hover
{
	text-decoration:underline;
}

#header .home_url
{
	float:left;
	margin:8px 5px 0;
	padding-top:6px;
	font-size:11px;
}

#footer
{
	max-width: 1000px;
	padding:10px 10px 9px;
	color: #bbb;
	margin:10px auto 0;
}

#footer .text
{
    font-size:11px;
}

#footer>*>div{
    width:70%;
    float:left;
}

#footer>*>.cp_link{
    width:25%;
    float:right;
    text-align:right;
}

#footer>*>.cp_link>a{
    color:#bbb;
}

#footer>*>.cp_link>img{
    width:60%;
    padding-top:10px;
}

.clearfooter
{
	height:55px;
	clear:both;
}


.gbutton {
	font-size: 13px;
	display:block;
	float:left;
	padding:5px 6px 4px;
	color:#fff !important;
	text-shadow:0px 0px 1px #333;
	color:rgba(255,255,255,1) !important;
	border:1px solid #ddd;
	border:1px solid rgba(56,56,56,0.4) !important;
	margin: 0 4px 0 0;
	min-width:50px;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	background:#999;
	background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(201,191,171,.30)),
        color-stop(1, rgba(201,191,171,.60))
		);
	background: -o-linear-gradient(rgba(201,191,171,.20),rgba(201,191,171,.30));
	background: -moz-linear-gradient(rgba(201,191,171,.20),rgba(201,191,171,.30));

	box-shadow: 1px 1px 2px rgba(81,81,92,0.5), 1px 1px 1px rgba(255,255,255,0.5) inset;
	moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.5), 1px 1px 1px rgba(255,255,255,0.5) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.5), 1px 1px 1px rgba(255,255,255,0.5) inset;
}

.gbutton:active
{
    background:#ddd;
    border:1px solid #999;
}

.gbutton:hover
{
	color:#333;
	border:1px solid #444;
	padding: 6px 5px 3px 7px;
	text-decoration:none;
	box-shadow: 1px 1px 2px rgba(81,81,92,0.5) inset, 1px 1px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.5) inset, 1px 1px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.5) inset, 1px 1px 1px rgba(255,255,255,0.5);
}	


.prevnext{
	margin-top:10px;
}




#navig
{
	max-width:600px;
	float:right
}

#navig a
{
	color:#52A9E3;
	display:block;
	padding: 5px 8px;
}

#navig ul
{
	list-style:none;
	padding: 0;
	margin: 0;
	display:block;
}

#navig ul li
{
	float:left;
	color:#fdfdfd;
	margin: 4px 0 4px 7px;
	border-radius:3px;
}

#navig ul li ul
{

}

#navig ul li ul li
{

}




.dropdown_parent
{
	position:relative;
	display:block;
	z-index:2000;
}

.dropdown_parent .text
{
	padding:5px;
	border:1px solid #999;
	font-size:14px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	max-width:500px;
	height:18px;
	overflow:hidden;
}

.dropdown_parent:hover, .dropdown_parent:hover .text {
	background:#f6f6f6;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border:1px solid #f6f6f6;
	z-index:2000;
}

.dropdown_parent:hover ul.dropdown
{
	display:block;
}

ul.dropdown 
{
	display:none;
	background:#f6f6f6;
	font-size:14px;
	position:absolute;
	top:18px;
	line-height:120%;
	width:260px;
	max-height:400px;
	overflow:auto;
	overflow-x:hidden;
	z-index:1200;
	padding:6px 5px;
	list-style: none;
	border-top:4px solid #f6f6f6;
	border-bottom:4px solid #52a9e3;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
}

.dropdown_right ul.dropdown
{
	right:0px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
}

ul.dropdown li
{}

ul.dropdown li a 
{
	display:block;
	width:100%;
	height:100%;
}


.panel
{
	margin:10px 10px 5px 10px;
	color:#555;
}

.panel a
{
	color:#333;
}

.panel a:hover
{
	color:#000;
}


.list
{
	padding:10px;
	margin:0;

	overflow:hidden;

	background:#eeecea;
	color:#aaa;
	border:1px solid #999;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	z-index:-1;

	padding:15px 10px 15px 10px;
    color:#666;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
    border-radius:4px;
    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));


    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}

.list > .title, .large > .title
{
	font-size:20px;
	border-bottom: 1px solid #999;
	padding-bottom:8px;
	margin-bottom:8px;
	position:relative;
}

.list > .title.fleft, .large > .title.fleft, .large >.title.fright
{
	margin-right:10px;
	border:none;
	padding:0px;
	margin-bottom:0;
}

.list .group
{
	border-bottom:1px solid #888;
	margin-top:8px;
	padding-bottom:8px;
	position:relative;
	overflow:hidden;
}

.list .group > .title
{
	font-weight:bold;
}

.list .group > .title > .meta
{
	font-weight:normal;
	font-size:11px;
}

.list .element
{
	position:relative;
	padding: 3px 0 3px 10px;
	overflow:hidden;
}

.list .element .title {
	float:left;
}

.list .element .meta_r
{
	float:right;
	font-size: 11px;
	margin-top:2px;
}

.list .element .meta_r a
{
	font-size:120%;
}

.list .group .preview {
	float:left;
	max-height:125px;
	margin-right:5px;
	position:relative;
	z-index:100;
}

.list.series .group {
	min-height:70px;
}

.list.series .meta_r {
	position:static;
	float:none;
	clear:both;
}

.list .element .image {
	float:left;
	max-height:125px;
	margin-right:5px;
	position:relative;
	z-index:100;
}



.large
{
	padding:5px;
        padding-top:6px;
        padding-bottom:3px;
	margin:0 0 10px;

	overflow:hidden;

	background:#eeecea;
	border:1px solid #999;
	color:#aaa;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	z-index:-1;
        
        
    color:#666;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
    border-radius:4px;
    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));


    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}

.large.comic
{

}

.large.comic .thumbnail
{
	width:250px;
	height:250px;
	border: 1px solid #999;
	padding:3px;
	text-align:center;
	float:left;
}

.large.comic .thumbnail img
{

}

.large.comic .info
{
	margin:5px 5px 5px 275px;
}

.large.comic .info ul
{
	list-style: none;
	padding:0 0 0 15px;
}

.large.comic .info ul li
{
	margin: 6px 0 0;
	text-indent:-13px;
}


.sidebar
{
	float:right;
	overflow:hidden;
	margin:0 0 0 10px;
	padding:0;
	width:240px;
	z-index:-1;
	list-style: none;
}


.sidebar li
{
	margin: 0 0 10px;
	padding:10px 8px 10px 8px;
	background:#eeecea;
	border: 1px solid #999;
	color:#666;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);

    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));

    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}




#page
{
	margin:10px 90px 10px 10px;
	overflow:hidden;
	max-width:1000px;
	padding: 5px 0;
	position:relative;
	box-shadow:0px 0px 4px #000;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
}

#page .inner
{
	margin: 0 auto;
	position:relative;
	text-align:center;
}

#page .inner > a > img
{
	margin:0 auto;
	display:block;
	padding:2px;
	z-index:1000;
}

#page .inner .preview
{
	width:100%;
	position:absolute;
	top:3px;
	z-index:-1;
}

#page .inner .preview > img
{
}

#pagelist
{
	margin: 0 auto;
}

#pagelist .title
{
	padding:5px;
	margin:0 5px;
	border-bottom:1px solid #999;
}

#pagelist .images
{
	width:98%;
	margin:5px auto;
	overflow-x:hidden;
}

#pagelist .images table
{
	width:950px;
	padding:0;
	margin:0;
}

#pagelist .images table tr
{
	height:100px;
	width:90%;
}

#pagelist td
{
	border: 2px solid transparent;
	width:150px;
	height:170px;
	margin: 0 5px 5px 0;
	text-align:center;
	vertical-align:middle;
}

#pagelist a
{
	width:160px;
	display:block;
	text-decoration:none;
}

#pagelist a img
{
	max-height:160px;
	max-width:160px;
}

#pagelist a img.loaded
{
	border: 2px solid #70D441;
}

#pagelist a img.current
{
	border: 2px solid #000;
}

.ads{
}

.ads a{
}

.ads a:hover{
}

.ads.banner, .ads.vertical 
{
	margin: 10px 0px;
	padding:7px 10px;
	text-decoration:none !important;
	background:#eeecea;
	border: 1px solid #999;
	overflow:hidden;
	text-align:center;

	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));


    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}

.ads.banner *
{
	margin: 0 auto;
}

.ads.vertical
{
	margin:0 10px;
	padding: 7px 7px;
}

.ads.iframe iframe
{
	border:none;
}

.ads.vertical.iframe iframe{
	height:600px;
	width:160px;
	background:transparent;
}

.ads.banner.iframe iframe{
	height:90px;
	width:728px;
	background:transparent;
}

.ads.banner.iframe {
	width:728px;
	margin:0 0 10px 10px;
}

#ads_iframe_bottom_banner
{
	margin:10px auto;
}

.element>.icon_wrapper{
    overflow:visible;
}

/***********
**Top Bar***
***********/

.topbar{
    padding:5px;
    padding-top:6px;
    padding-bottom:3px;
    margin:0 0 10px;
    
    height:40px;
    
    border:1px solid grey;
    
    overflow:visible;
}

.topbar{
    margin:0px 0px 3px;
	border-bottom:1px solid rgba(71,82,87,1);
	position:relative;
	text-indent:30px;

	background:#535353;
	background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(56,56,56,.7)),
        color-stop(1, rgba(56,56,56,1.0))
    	);
	background: -o-linear-gradient(rgba(56,56,56,.7),rgba(56,56,56,1.0));
	background: -moz-linear-gradient(rgba(56,56,56,.7),rgba(56,56,56,1.0));
	box-shadow: 0px -1px 1px rgba(255,255,255,0.4) inset;
	moz-box-shadow: 0px -1px 1px rgba(255,255,255,0.4) inset;
	-webkit-box-shadow:	0px -1px 1px rgba(255,255,255,0.4) inset;
        
        border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    
    color:white;
    /*
    margin:0px 0px 3px;
    font-style:italic;
    color:#1a2225;
	color:#E2E2E2;
	color:rgba(255,255,255,0.8);
	text-shadow: 0px 0px 1px #444;
    font-size: 17px;
	border-bottom:1px solid rgba(71,82,87,1);
	position:relative;
	text-indent:30px;

	background:#535353;
	background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(56,56,56,.7)),
        color-stop(1, rgba(56,56,56,1.0))
    	);
	background: -o-linear-gradient(rgba(56,56,56,.7),rgba(56,56,56,1.0));
	background: -moz-linear-gradient(rgba(56,56,56,.7),rgba(56,56,56,1.0));
	box-shadow: 0px -1px 1px rgba(255,255,255,0.4) inset;
	moz-box-shadow: 0px -1px 1px rgba(255,255,255,0.4) inset;
	-webkit-box-shadow:	0px -1px 1px rgba(255,255,255,0.4) inset;
    /*
    background:#eeecea;
    border:1px solid #999;
    color:#aaa;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    z-index:-1;


    color:#666;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
    border-radius:4px;
    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
    linear, left top, left bottom,
    color-stop(0, rgba(234, 231, 229,.8)),
    color-stop(1, rgba(234, 231, 229,.5))
            );
    background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
    background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    */
}

.topbar a{
    color:white;
}

.topbar>div{
    margin-top:4px;
}

.topbar_left{
    float:left;
    width:50%;
}

.topbar_left>*{
    float:left;
    margin-left:5px;
}

.topbar_right{
    float:right;
    width:50%;
}

.topbar_right>*{
    float:right;
    margin-right:5px;
}

.divider
{
    background:#999;
    height:30px;
    width:1px;
    margin:0px 5px;
}

.number
{
    font-size:19px;
    text-shadow:none;
    padding:4px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    text-align:center;
    float:right;
    border: 1px solid transparent;
    font-size:14px;
    font-family: Cambria, Georgia, Times, Times New Roman, serif;
    border:1px solid #444;
}

.number a
{
    display:block;
    width:100%;
    height:100%;
    text-align:center;
}

.number .current_page
{
    border:1px solid #999 !important;
}

.number .loaded
{
    border:1px solid #93D4A3;
}

.number:hover 
{
    border:1px solid #444;
}

.tbtitle{
    font-size:20px;
    /*border-bottom: 1px solid #999;*/
    padding-bottom:8px;
    margin-bottom:8px;
    position:relative;
}

/********
**Icon***
********/

.icon_wrapper {
    position:relative;
    height:32px;
    width:32px;
    padding:0px;
    text-align:center;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    overflow:hidden;
}

.icon_wrapper .icon {
    position:absolute;
    top:0px;
    text-align:center;
    top:-9px;
    left:-11px;
}

.topbar>*>.icon_wrapper{
    margin-top:4px;
    left:-15px !important;
}

.icon_wrapper .icon.on {
    display:none;
}

.icon_wrapper:hover .icon.off {
    display:none;
}

.icon_wrapper:hover .icon.on {
    display:block;
}

.icon_wrapper.small {
    width:16px;
    height:16px;
    margin-right:0px;
}

.icon_wrapper.small .icon {
    top:-4px;
    right:4px;
    width:26px;
    height:26px;
}