@charset "UTF-8";

html, body {    
}

body
{
	font-family: Cambria, Georgia, Times, Times New Roman, serif;
	color:#f6f6f6;
	margin:0 auto;
	padding:0;
	background:#f0f0f0;
	background:#444;
	//background-image: url('http://dl.dropbox.com/u/279080/bg_slide.png');
    overflow-y:scroll;
	//background:url('http://i.imgur.com/goqEm.png') fixed;
	//background:url(http://dl.dropbox.com/u/279080/forum/bg_rust.png);
	background:#fafafa;

}

#wrapper 
{
	position: relative;
	overflow:hidden;
}

a
{
	text-decoration:none;
	color:#f6f6f6;
}

a:hover
{
	text-decoration:underline;
}

img 
{
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	border:none;
}

h1
{
	margin:0;
	font-size:25px;
}

h2
{
	margin:0;
	font-size:16px;
}

form
{
	display:inline;
}

input[type="text"]
{
	width:190px;
	border:1px solid #ddd;
	padding:2px 3px;
	font-size:12px;
	margin:4px 8px 3px 0;
	text-align:center;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#searchbox
{
	float:right;
}

.clearer
{
	clear:both;
}

.fright
{
	float:right !important;
}

.fleft
{
	float:left !important;
}


#content
{
	padding: 0 0px 10px;
	margin:25px auto;
	color:#555;
}

#header
{
	background:#f6f6f6;
	color:#E26A51;
	border-top:none;
	border-bottom:6px solid #52A9E3;
	margin:0 8px;

	border-bottom-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-left-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	box-shadow:0px 0px 4px #000;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
}

#header a
{
	color:#52A9E3;
}

#header #title
{	
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	float:left;
	padding:6px 0 0 10px;
}

#header #title:hover
{
	text-decoration:underline;
}

#header .home_url
{
	float:left;
	margin:8px 5px 0;
	padding-top:6px;
	font-size:11px;
}

#footer
{
	max-width: 1000px;
	padding:10px 10px 9px;

	color: #bbb;

	margin:10px auto 0;
}

#footer .text
{
	font-size:11px;
}

.clearfooter
{
	height:55px;
	clear:both;
}


.gbutton {
	font-size: 13px;
	display:block;
	float:left;
	padding:5px 6px 4px;
	color:#fff !important;
	text-shadow:0px 0px 1px #333;
	color:rgba(255,255,255,1) !important;
	border:1px solid rgba(56,56,56,0.4) !important;
	margin: 0 4px 0 0;
	min-width:50px;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(201,191,171,.30)),
        color-stop(1, rgba(201,191,171,.60))
		);
	background: -o-linear-gradient(rgba(201,191,171,.20),rgba(201,191,171,.30));
	background: -moz-linear-gradient(rgba(201,191,171,.20),rgba(201,191,171,.30));

	box-shadow: 1px 1px 2px rgba(81,81,92,0.5), 1px 1px 1px rgba(255,255,255,0.5) inset;
	moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.5), 1px 1px 1px rgba(255,255,255,0.5) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.5), 1px 1px 1px rgba(255,255,255,0.5) inset;
}

.gbutton:active
{
    background:#ddd;
    border:1px solid #999;
}

.gbutton:hover
{
	color:#333;
	border:1px solid #444;
	padding: 6px 5px 3px 7px;
	text-decoration:none;
	box-shadow: 1px 1px 2px rgba(81,81,92,0.5) inset, 1px 1px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.5) inset, 1px 1px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.5) inset, 1px 1px 1px rgba(255,255,255,0.5);
}	


.prevnext{
	margin-top:10px;
}




#navig
{
	max-width:600px;
	float:right
}

#navig a
{
	color:#52A9E3;
	display:block;
	padding: 5px 8px;
}

#navig ul
{
	list-style:none;
	padding: 0;
	margin: 0;
	display:block;
}

#navig ul li
{
	float:left;
	color:#fdfdfd;
	margin: 4px 0 4px 7px;
	border-radius:3px;
}

#navig ul li ul
{

}

#navig ul li ul li
{

}


.panel
{
	width:1000px;
	margin:20px auto;
	color:#555;
}

.panel a
{
	color:#333;
	border-bottom:1px solid #fff;
	border-bottom:1px solid rgba(255,255,255,0.7);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.panel a:hover
{
	color:#000;
	border-bottom:1px solid #000;
	border-bottom:1px solid rgba(0,0,0,0.7);
	text-decoration:none;
}


.list
{
	padding:10px;
	margin:0;

	overflow:hidden;

	background:#333;
	color:#aaa;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	z-index:-1;

	padding:15px 10px 15px 10px;
    color:#666;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
    border-radius:4px;
    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));


    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}

.list > .title, .large > .title
{
	font-size:20px;
	border-bottom: 1px solid #999;
	padding-bottom:8px;
	margin-bottom:8px;
}

.list .group
{
	border-bottom:1px solid #888;
	margin-top:8px;
	padding-bottom:8px;
}

.list .group > .title
{
	font-weight:bold;
}

.list .element
{
	border-bottom:1px dotted #bbb;
	text-indent:12px;
	position:relative;
	padding: 3px 0;
}

.list .element .meta_r
{
	position:absolute;
	bottom:4px; right:2px;	
	font-size: 11px;
	margin-top:2px;
}

.list .element .meta_r a
{
	font-size:120%;
}


.large
{
	padding:10px;
	margin:0 0 10px;

	overflow:hidden;

	background:#333;
	color:#aaa;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	z-index:-1;

	padding:15px 10px 15px 10px;
    color:#666;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
    border-radius:4px;
    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));


    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}

.large.comic
{

}

.large.comic .thumbnail
{
	width:250px;
	height:250px;
	border: 1px solid #999;
	padding:3px;
	text-align:center;
	float:left;
}

.large.comic .thumbnail img
{

}

.large.comic .info
{
	margin:5px 5px 5px 275px;
}

.large.comic .info ul
{
	list-style: none;
	padding:0 0 0 15px;
}

.large.comic .info ul li
{
	margin: 6px 0 0;
	text-indent:-13px;
}


.sidebar
{
	float:right;
	overflow:hidden;

	margin:0 0 0 15px;
	padding:0;

	width:260px;


	z-index:-1;
	list-style: none;


}


.sidebar li
{
	margin: 0 0 8px;
	padding:15px 10px 15px 10px;
    color:#666;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);

    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));


    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}




#page
{
	margin:10px;
}

#page .inner
{
	margin: 0 auto;
	min-height:1000px;
	position:relative;
}

#page img
{
	max-width:1000px;
	margin:0 auto;
	display:block;
	padding:2px;
	z-index:1000;
	box-shadow:0px 0px 4px #000;
}

#widget
{
	background:#eeedeb;
	padding:10px 6px 10px 43px;
	color:#999;
	position:fixed;
	top:170px;
	right:10px;
	z-index:100;


	margin: 0 0 8px;

    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));


    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}

#widget .initnumber
{
	background:#999;
	color:#eeedeb;
	padding:10px;   
	font-size:25px;
	font:Verdana;
	text-align:center;
	border-radius:1000px;
	-moz-border-radius:1000px;
	-webkit-border-radius:1000px;
	min-width:30px;
}

#widget .on
{
	font-size:22px;
	text-align:center;
	margin-bottom:4px;
}

#widget .finalnumber
{
	background:#999;
	color:#eeedeb;
	padding:10px;   
	font-size:25px;
	font:Verdana;
	text-align:center;
	border-radius:1000px;
	-moz-border-radius:1000px;
	-webkit-border-radius:1000px;
	min-width:30px;
}

#myFire
{
	position:absolute;
	bottom:10px;
	left:23px;
	width:10px;
}

#myFireHidden
{
	position:absolute;
	bottom:8px;
	left:20px;
	width:10px;
	height:85%;
	padding:2px;
	box-shadow: inset 0px 0px 3px #000;
	-moz-box-shadow: inset 0px 0px 3px #000;
	-webkit-box-shadow: inset 0px 0px 3px #000;
}

#myFire .light
{
	height:7px;
	width:8px;
	margin: 3px 0 0 0;
	background: #2DC532;
}

#myLoading
{
	position:absolute;
	bottom:10px;
	left:7px;
	width:10px;
	height:85%;
	background:red;
	display:none;
}


#myLoadingHidden
{
	position:absolute;
	bottom:8px;
	left:5px;
	width:10px;
	height:85%;
	padding:2px;
	box-shadow: inset 0px 0px 3px #000;
	-moz-box-shadow: inset 0px 0px 3px #000;
	-webkit-box-shadow: inset 0px 0px 3px #000;
}

#myPagelist .gbutton
{
	padding-right: 1px;
	padding-left: 1px;
	margin-top:5px;
	margin-right:0px;
}

#pagelist
{
	width:1000px;
	margin: 0 auto 15px;
	
    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

    border:1px solid rgba(56,56,56,0.4);
    background: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, rgba(234, 231, 229,.8)),
        color-stop(1, rgba(234, 231, 229,.5))
		);
	background: -o-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));
	background: -moz-linear-gradient(rgba(234, 231, 229,.8),rgba(234, 231, 229,.5));


    box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(81,81,92,0.7) inset, 1px 1px 1px rgba(255,255,255,0.7);
}

#pagelist .title
{
	padding:5px;
	margin:0 5px;
	border-bottom:1px solid #999;
}

#pagelist .images
{
	width:98%;
	margin:5px auto;
	overflow:auto;
}

#pagelist .images table
{
	width:950px;
	padding:0;
	margin:0;
}

#pagelist .images table tr
{
	height:100px;
	width:90%;
}

#pagelist td
{
	border: 2px solid transparent;
	width:150px;
	height:170px;
	margin: 0 5px 5px 0;
	text-align:center;
	vertical-align:middle;
}

#pagelist img
{
	max-height:100%;
	max-width:160px;
}