.foolproofr_box {
	position: absolute;
	background: rgba(255,255,255,0.8);
	border: 1px solid #aaa;
	text-align: center;
	text-shadow: 
		1px 1px 0px #fff,
		0px 1px 0px #fff,
		1px 0px 0px #fff,
		-1px 0px 0px #fff,
		1px -1px 0px #fff,
		-1px -1px 0px #fff,
		-1px 1px 0px #fff,
		0px -1px 0px #fff,
		-1px 0px 0px #fff,
		
		2px 2px 1px #fff,
		0px 2px 1px #fff,
		2px 0px 1px #fff,
		-2px 0px 1px #fff,
		2px -2px 1px #fff,
		-2px -2px 1px #fff,
		-2px 2px 1px #fff,
		0px -2px 1px #fff,
		-2px 0px 1px #fff;
	border:2px solid #5BD350;
}

.foolproofr_box.focused {
	background: rgba(255,255,255,0.9);
	box-shadow: 0px 0px 4px #fff;
	-webkit-box-shadow: 0px 0px 4px #fff, 0px 0px 12px #000;;
	-moz-box-shadow: 0px 0px 4px #fff;
	z-index:1000;
}

.foolproofr_box .foolproofr_textarea {
	position:absolute;
	top:1%;
	left:1%;
	width:98%;
	height:98%;
	color:#000;
	text-align:center;
	font-family: Arial, sans-serif;
	background:transparent;
	-webkit-box-shadow:none;
	font-size:14px;
	text-shadow: 1px 1px 0px #fff,
		0px 1px 0px #fff,
		1px 0px 0px #fff,
		-1px 0px 0px #fff,
		1px -1px 0px #fff,
		-1px -1px 0px #fff,
		-1px 1px 0px #fff,
		0px -1px 0px #fff,
		-1px 0px 0px #fff,
		2px 2px 1px #fff,
		0px 2px 1px #fff,
		2px 0px 1px #fff,
		-2px 0px 1px #fff,
		2px -2px 1px #fff,
		-2px -2px 1px #fff,
		-2px 2px 1px #fff,
		0px -2px 1px #fff,
		-2px 0px 1px #fff;
	border:none;
	padding:0;
	margin:0;
	outline:none;
	overflow:hidden;
	resize: none;
}

.foolproofr_box .foolproofr_textarea:focus {
	outline:none;
}

.foolproofr_box .foolproofr_dragger {
	position:absolute;
	top: -22px;
	margin: 2px;
	background: #eee;
	padding: 1px 3px;
	font-size: 11px;
	overflow: hidden;
	text-shadow:none;
	text-align:left;
	position:relative;
	font-family: Arial, sans-serif;
	display:none;
	height:1.7em;
}

.foolproofr_box.focused .foolproofr_dragger, .foolproofr_box:hover .foolproofr_dragger{
	display:block;
}

.foolproofr_box .foolproofr_dragger .foolproofr_remover {
	position:absolute;
	right:1px;
	top:1px;
	height:100%;
	width: 10px;
	font-family: Arial, sans-serif;
	font-size:12px;
}


.foolproofr_box .foolproofr_resizer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 8px;
	width: 8px;
	background: #ddd;
}