@charset "UTF-8";

*
{
    margin: 0;
}

html, body
{
    height: 100%;
}

body
{
    font-family: Arial;
    text-align:center;
    color:#fafafa;
    background:#EDF9FF;
    margin:0 auto;
    padding:0;
    text-align:left;
    overflow-y:scroll;
	font-weight:normal;
}

*
{
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	border:none;
}

img
{
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	border:none;
}

a
{
    text-decoration:none;
    color:#333;
}

h1
{
    margin:0;
    font-size:25px;
}

h2
{
    margin:0;
    font-size:20px;
}

table
{
}

td
{
    padding: 3px;
}

form {
	display:block;
}

*::selection {
        background: #E3B462;
        color:#000;
        text-shadow:none !important;
	}
*::-moz-selection {
        background: #E3B462;
        color:#000;
        text-shadow:none !important;
}


input[type="text"], input[type="password"]
{
    border:1px solid #ddd;
    padding:5px 9px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    font-size:15px;
    width:300px;
    color:#333;
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="text"]:hover, input[type="password"]:hover
{
    border-color:#bbb;
}

input[type="button"], input[type="submit"], input[type="reset"]
{
	display:block;
	font-size:11px;
	padding:3px 10px 4px 10px;
	border:1px solid #999;
	margin: 0 4px 0 0;
	color:#555;
	text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#eee;
	background-image: -moz-linear-gradient(#FDFDFD, #EEECEC);
	background-image: -webkit-linear-gradient(#FDFDFD, #EEECEC);
    background-image: -o-linear-gradient(#FDFDFD, #EEECEC); 
    background-image: linear-gradient(#FDFDFD, #EEECEC); 
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover
{
	color:#333;
	border:1px solid #444;
}

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active
{
    background:#ddd;
    border:1px solid #999;
}

input::-webkit-input-placeholder {
    color:    #999;
}
input:-moz-placeholder {
    color:    #999;
}

textarea
{
    font-family:monospace;
    width:300px;
    height:130px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border:1px solid #ddd;
    padding:5px 9px;
    font-size:13px;
    color:#333;
}

textarea:focus, textarea:hover
{
    border-color:#bbb;
}



.spacer{height:20px; }
.clearer{clear:both;}
.clearer_r {clear:right}
.clearer_l {clear:left}

.smalltext
{
    font-size:11px;
}

.gbuttons 
{
	width:100%;
	font-size:11px;
	height:28px;
}

.gbutton {
	display:block;
	float:left;
	padding:3px;
	border:1px solid #999;
	margin: 0 4px 0 0;
	min-width:50px;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	
	background-image: -moz-linear-gradient(#FDFDFD, #EEECEC);
	background-image: -webkit-linear-gradient(#FDFDFD, #EEECEC);
    background-image: -o-linear-gradient(#FDFDFD, #EEECEC); 
}

.gbutton:active
{
    background:#ddd;
    border:1px solid #999;
}

.gbutton:hover
{
	color:#333;
	border:1px solid #444;
}

.gbutton.red
{
	display:none;
	border-color: red;
	background-image: -moz-linear-gradient(#FDFDFD, #EC9E9E);
	background-image: -webkit-linear-gradient(#FDFDFD, #EC9E9E);
    background-image: -o-linear-gradient(#FDFDFD, #EC9E9E); 
}





#background
{
    position:fixed;
    bottom:0px; right:30px;
    z-index:-1;
}

#background img
{
    width:800px;
}

#header
{
    background:#BCE3F5;
    padding:10px;
	border-bottom:1px solid #156F9C;
}

#header a
{
    color:#bbb;
}

#header a:hover
{
    color:#fff;
}

#header .title
{
    color:#fff;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-weight:normal;
    font-size:20px;
	color:#156F9C;
}

#header .logout
{
    float:right;
    margin:2px 15px 0;
	color:#156F9C;
	text-shadow:0px 0px 1px #fff;
}

#header .logout a
{
	color:#156F9C;
}

#header .logout a:hover
{
	color:#333;
}

#footer
{
    font-family: Cambria, Georgia, Times, Times New Roman, serif;
    background:#BCE3F5;
    clear:both;
    margin-top:1em;
	color:#888;
	display:none;
}

#footer .text
{
    padding:0.5em 1em 0;
}

.wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
    width:100%;
}

#footer, .push
{
    height: 2em;
}


#sidebar
{
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    float:left;
    min-width:190px;
    min-height:500px;
    color:#333;
    margin:15px 10px 10px 0;
}

#sidebar a
{
    color:#333
}

#sidebar .collection
{
	background: #F5F5F5;
	background:rgba(246,246,246,0.6);
	padding: 0 0 5px 0;
	margin-top:5px;
	border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
	border:1px solid #bbb;
}

#sidebar .group
{
    padding:3px 3px 3px 10px;
    margin:0px 0px 5px;
    font-style:italic;
    color:#888;
    font-size: 17px;
	border-bottom:1px solid #ccc;
	
	border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	
	
	background-image: -moz-linear-gradient(#FDFDFD, #EEECEC);
	background-image: -webkit-linear-gradient(#FDFDFD, #EEECEC);
    background-image: -o-linear-gradient(#FDFDFD, #EEECEC);

}

#sidebar .element
{
    padding:3px 3px 3px 15px;
    margin:4px 3px 0px 3px;
    border-bottom:1px solid transparent;
    border-top:1px solid transparent;
	border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
	
}

#sidebar .element:hover
{
    border-top-color:#bbb;
	border-bottom-color:#fff;
}

#sidebar .active
{
    background:#FCF5EF;
    border:1px solid #eee;
    border-left:5px solid #666;
}







#content_wrap
{
    width:95%;
    margin:0 0 0 10px;
    color:#666;
    color:rgba(0,0,0,0.6);
    text-shadow: 1px 1px #f6f6f6;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
    margin-bottom:15px;
}

#content_wrap a
{
    color:#666;
    color:rgba(0,0,0,0.6);
}

#content_wrap a:hover
{
    color:#444;
    color:rgba(0,0,0,0.8);
}



#center
{
    margin-left:203px;
    padding-left:20px;
}

#center > .title
{
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size:23px;
    font-style:italic;
    margin-bottom:10px;
	text-indent:10px;
}

#center > .section
{
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size:23px;
    font-style:italic;
    margin:10px 0 10px;
    padding:10px 0 0;
}

#center > .smalltext
{
    font-size:11px;
}

.alert
{
    margin: 0 5px 5px;
    padding:8px;
}

.alert.red
{
    background:#FDBFBF;
    border:1px solid red;
}

.alert.yellow
{
    background:#FAF8B9;
    border:1px solid red;
}

.alert.green
{
    background:#E2FAB9;
    border:1px solid green;
}


#center table.form
{
    width:100%;
}

#center table.form tr td
{
    border-bottom: 1px solid #ddd;
    border-color:rgba(20,20,20,0.1);
    height:33px;
    padding: 5px;
    padding-left:20px;
}

#center table.form tr td:first-child
{
    width:25%;
    border-right:1px solid #aaa;
    border-right:1px solid rgba(20,20,20,0.2);
    padding:5px;
}






.list
{}

.list.comics .item, .list.chapters .item, .list .item
{
    padding:8px 8px 5px 8px;
    border-bottom: 1px solid #999;
    border-color:rgba(20,20,20,0.3);
    margin-top:5px;
}

.list.comics .item:hover, .list.chapters .item:hover, .list .item:hover
{
       border-color:rgba(20,20,20,0.8); 
}

.list.comics .item .title, .list.chapters .item .title, .list .item .title
{
    font-size:17px;
}

.list.comics .item .smalltext, .list.chapters .item .smalltext, .list .item .smalltext
{
    font-size:11px;
    margin-top:2px;
}

.list.comics .item .info, .list.chapters .item .info, .list .item .info
{
    float:right;
}

.list.comics .item form, .list.chapters .item form, .list .item form
{
    padding: 8px 0;
}


.list.pages > table
{
    width:100%;
    text-align:center;
}

.list.pages > table tr
{
    width:100%;
    height:200px;
}

.list.pages > table td
{
    width:30%;
    height:220px;
    max-width:180px;
    border: 1px solid #999;
    margin:5px;
    text-align:center;
    position:relative;
    background:rgba(20,20,20,0.1);
}


.list.pages > table img
{
    max-height:100%;
    max-width:100%;
}

.list.pages > table td .controls
{
    position:absolute;
    bottom:0px;
    right:0px;
    padding: 3px;
    background:#333;
    background:rgba(20,20,20,0.6);
    display:block;
    color:#fff;
    text-shadow:none;
    font-size:12px;
    text-align:right;
}

.list.pages > table td .controls:hover
{
    display:block;
    background:rgba(20,20,20,0.9);
    color:#fff;
}



.list .navi
{
    text-align:right;
    margin:12px;
}

